*{
    margin: 0;
    padding:0 ;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
}

#main-page{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 44.23%, rgba(255, 255, 255, 0) 54.87%), radial-gradient(78.19% 78.19% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%),url(./img/bg-page-1.png);
    background-size:cover;
    background-position:center;
    height:100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.page-1{
    padding-top: 9.7rem;
}

h1{
    font-size: 3rem;
}

.btn-pink{
    background: #E4007E;
    border-radius: 0.2rem;
}
.text-pink{
    color: #E4007E;
}
 
.box-pink{
    background: #F0EEFE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.paragraph-box{
    font-size: 0.9rem;
    padding: 0 19rem;
}

.box-blue{
    background: #ECF5FF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;    
}

.link-blue{
    color: rgba(5, 7, 116, 1);
}
.btn-blue{
    background-color: rgba(5, 7, 116, 1);
    border-radius: 0.2rem;
}


.page-3{
    background-image: url(./img/Rectangle\ 129.png);
    background-size:cover;
    background-position:center;
    height:100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.iframe-thumb{
    border-radius: 1rem;
}
.page-4{
    padding: 5rem 0;
}
.img-page4{
    width: auto;
}

.location:hover{
    text-decoration:underline;
}

.page-6 h1{
    font-size: 3.5rem;
}

.footer-page{
    width: 100%;
    height: 90%;
    background: #202020 ;
}

.disabled-link {
    pointer-events: none;
  }

.comming-soon{
    font-size: 0.7rem;
}

.features:hover,.features:active {
    font-weight: bold;
    text-decoration: underline;
}

.icon-footer{
    margin-right: 1rem;
}

.hr-1{
    border-top: 0.5px solid rgba(255, 255, 255, 1);   
}

.link-a:hover{
    text-decoration: underline !important;    
}


.text-rainbow {
    background: linear-gradient(268.91deg, #050774 -7.14%, #E4007E 96.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gap-row{
    column-gap: 2rem;
}

#topnav{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: transparent;
    border: 0;
    transition: all .5s ease;
    padding: 10px;
}

.link-translate:hover, .link-translate:active{
    font-weight: bold;

}